; KeeperFX Creature Model Configuration file
; file version 0.33
[attributes]
; Name is the creature identifier which should be used in level script
Name = ARCHER
Armour = 25

[annoyance]
EatFood = -50
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 25
InTorture = 4
InTemple = -10
Sleeping = 0
GotWage = -750
WinBattle = -350
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = -100
GoingPostal = 100
Queue = 4
LairEnemy = TROLL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON  

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).

; Training values required to reach higher creature levels

;Growing beyond max level - training cost, new creature type and its level

; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = GUARD_AREA 100


[jobs]
PrimaryJobs=MANUFACTURE
SecondaryJobs=GUARD
NotDoJobs=
StressfulJobs=
TrainingValue=2
TrainingCost=8
ScavengeValue=2
ScavengerCost=8
ResearchValue=2
ManufactureValue=2
PartnerTraining=0