; KeeperFX Creature Model Configuration file
; file version 0.33
[attributes]
; Name is the creature identifier which should be used in level script
Name = BARBARIAN
Strength = 90
Armour = 55
Defence = 45

[annoyance]
EatFood = -50
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 100
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 20
InTorture = 4
InTemple = -10
Sleeping = 0
GotWage = -750
WinBattle = -400
; Game turns required without training and the annoyance level
Untrained = 2000 50
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 300
GoingPostal = 0
Queue = 4
LairEnemy = BILE_DEMON
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL NULL EXPLOSIV_HIT ARMOUR NULL NULL NULL NULL
PowersLevelRequired = 1 0 0 0 6 6 0 0 0 0
; Training values required to reach higher creature levels

;Growing beyond max level - training cost, new creature type and its level

; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = BARRACK_AREA 50


[jobs]
PrimaryJobs = FIGHT TRAIN
SecondaryJobs = BARRACK 
NotDoJobs =
StressfulJobs = RESEARCH
TrainingValue = 3
TrainingCost = 40
ScavengeValue = 1
ScavengerCost = 18
ResearchValue = 0
ManufactureValue = 2
PartnerTraining = 0
