; KeeperFX Creature Model Configuration file
; file version 0.33
[attributes]
; Name is the creature identifier which should be used in level script
Name = BILE_DEMON
Armour = 65

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = WORKSHOP NULL GARDEN
RoomSlabsRequired = 25 0 25
BaseEntranceScore= 0

[annoyance]
EatFood = -500
WillNotDoJob = 0
InHand = 0
NoLair = 3
NoHatchery = 6
WokenUp = 300
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 1000
Slapped = 400
StandingOnDeadFriend = 20
InTorture = 4
InTemple = -10
Sleeping = 0
GotWage = -650
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 100
GoingPostal = 100
Queue = 4
LairEnemy = SKELETON
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON
[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD POISON_CLOUD NULL FART NULL NULL NULL NULL NULL NULL
PowersLevelRequired = 1 2 0 4 0 0 0 0 0 0
; Training values required to reach higher creature levels

;Growing beyond max level - training cost, new creature type and its level

; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HATCHERY 50


[jobs]
PrimaryJobs = MANUFACTURE
SecondaryJobs =
NotDoJobs =
StressfulJobs = RESEARCH
TrainingValue = 2
TrainingCost = 38
ScavengeValue = 1
ScavengerCost = 30
ResearchValue = 1
ManufactureValue = 3
PartnerTraining = 30