; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = DRUID
Armour = 25

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = RESEARCH TEMPLE NULL
RoomSlabsRequired = 9 4 0
BaseEntranceScore = 20
ScavengeRequirement = 22000
TortureTime = 500

[annoyance]
EatFood = -50
WillNotDoJob = 200
InHand = 0
NoLair = 3
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 3
NoSalary = 2000
Slapped = 350
StandingOnDeadFriend = 40
InTorture = 4
InTemple = -20
Sleeping = 0
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 100
GoingPostal = 100
Queue = 4
LairEnemy = WITCH
AnnoyLevel =  4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST GREENBALL POISON_CLOUD SLOW HEAL NULL REBOUND NAVIGATING_MISSILE FREEZE NULL
PowersLevelRequired = 1 3 4 5 5 0 7 8 10 0
; Training values required to reach higher creature levels

;Growing beyond max level - training cost, new creature type and its level

; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HATCHERY 200
