; KeeperFX Creature Model Configuration file
; file version 0.33
[attributes]
; Name is the creature identifier which should be used in level script
Name = KNIGHT
Armour = 105

[annoyance]
EatFood = -50
WillNotDoJob = 400
InHand = 0
NoLair = 4
NoHatchery = 4
WokenUp = 250
StandingOnDeadEnemy = -16
Sulking = 4
NoSalary = 3500
Slapped = 350
StandingOnDeadFriend = 65
InTorture = 12
InTemple = -10
Sleeping = -0
GotWage = -1000
WinBattle = -500
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = -10
GoingPostal = 0
Queue = 12
LairEnemy = HORNY
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL REBOUND POWERSWING NULL HEAL NULL NULL NULL
PowersLevelRequired = 1 0 0 4 8 0 7 0 0 0
; Training values required to reach higher creature levels

;Growing beyond max level - training cost, new creature type and its level

; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HEART_PEDESTAL 100


[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = BARRACK 
NotDoJobs = SCAVENGE
StressfulJobs = BARRACK 
StressfulJobs =
TrainingValue = 3
TrainingCost = 40
ScavengeValue = 0
ScavengerCost = 30
ResearchValue = 1
ManufactureValue = 1
PartnerTraining = 0