; KeeperFX Creature Model Configuration file
; file version 0.33
[attributes]
; Name is the creature identifier which should be used in level script
Name = SAMURAI
Armour = 65

[annoyance]
EatFood=-50
WillNotDoJob=400
InHand=0
NoLair=4
NoHatchery=0
WokenUp=250
StandingOnDeadEnemy=-14
Sulking=5
NoSalary=3000
Slapped=750
StandingOnDeadFriend=65
InTorture=2
InTemple=-10
Sleeping=-1
GotWage=-750
WinBattle=-500
; Game turns required without training and the annoyance level
Untrained=12000 50
OthersLeaving=10
; Annoyance caused by performing stressful jobs
JobStress=0
GoingPostal=0
Queue=6
LairEnemy=DARK_MISTRESS
AnnoyLevel=4000
AngerJobs=KILL_CREATURES JOIN_ENEMY
[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).

; Training values required to reach higher creature levels

;Growing beyond max level - training cost, new creature type and its level

; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience=TRAINING_AREA 50


[jobs]
PrimaryJobs = FIGHT
SecondaryJobs = TRAIN BARRACK 
NotDoJobs =
StressfulJobs =
TrainingValue = 4
TrainingCost = 50
ScavengeValue = 3
ScavengerCost = 30
ResearchValue =  2
ManufactureValue =  2
PartnerTraining = 90
