; KeeperFX Creature Model Configuration file
; file version 0.33
[attributes]
; Name is the creature identifier which should be used in level script
Name = SKELETON
Armour = 25

[annoyance]
EatFood = 0
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 150
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 1000
Slapped = 100
StandingOnDeadFriend = 20
InTorture = 2
InTemple = -10
Sleeping = -1
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = BILE_DEMON
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON
[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL NULL ARMOUR NULL POWERSWING NULL NULL LIGHTNING
PowersLevelRequired = 1 0 0 0 5 0 7 0 0 10
; Training values required to reach higher creature levels

;Growing beyond max level - training cost, new creature type and its level

; Gaining experience from sleeping - slab required near lair and amount of experience
