; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = WITCH
Armour = 25

[annoyance]
EatFood = -50
WillNotDoJob = 200
InHand = 0
NoLair = 3
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 3
NoSalary = 2000
Slapped = 350
StandingOnDeadFriend = 40
InTorture = 4
InTemple = -20
Sleeping = 0
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 100
GoingPostal = 100
Queue = 4
LairEnemy = TUNNELLER
AnnoyLevel =  4000
AngerJobs = LEAVE_DUNGEON		  

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers=SWING_WEAPON_FIST FLY LIGHTNING SLOW REBOUND HEAL WIND NULL FIRESPHERE HAILSTORM
PowersLevelRequired= 1 2 3 3 4 5 7 0 10 9 
; Training values required to reach higher creature levels
;Growing beyond max level - training cost, new creature type and its level
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience=TEMPLE_POOL 200

[jobs]
PrimaryJobs = TEMPLE_PRAY
SecondaryJobs = RESEARCH
NotDoJobs = MANUFACTURE 
StressfulJobs =
TrainingValue = 2
TrainingCost = 16
ScavengeValue = 3
ScavengerCost = 20
ResearchValue = 3
ManufactureValue = 1
PartnerTraining = 0
