; KeeperFX Objects Configuration file
; file version 0.32

[common]


[object178]
Name = LAIR_SUM_SKELT
Genre = LAIR_TOTEM
AnimationID = 0
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 0
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = SUMMONED_SKELETON
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE


[object179]
Name = LAVA_SPAWN_LAIR
Genre = LAIR_TOTEM
AnimationID = LAVA_SPAWN_LAIR
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 180
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = LAVA_SPAWN
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object180]
Name = BLONDE_LAIR
Genre = LAIR_TOTEM
AnimationID = BLONDE_LAIR
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 180
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = BLONDE
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE


[object181]
Name = FIRE_PLACE
Genre = DECORATION
AnimationID = FIRE_PLACE
AnimationSpeed = 100
Size_XY = 100
Size_YZ = 100
MaximumSize = 270
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 10
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object182]
Name = LAIR_TAURUS
Genre = LAIR_TOTEM
AnimationID = CHARGERTAURUS_LAIR
AnimationSpeed = 256
Size_XY = 50
Size_YZ = 50
MaximumSize = 2
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = TAURUS
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object183]
Name = LAIR_FLYING_TERROR
Genre = LAIR_TOTEM
AnimationID = FLYING_TERROR_LAIR
AnimationSpeed =0
Size_XY = 0
Size_YZ = 0
MaximumSize = 100
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = FLYING_TERROR
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object184]
Name = DARK_ELF_LAIR
Genre = LAIR_TOTEM
AnimationID = DARK_ELF_LAIR
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 50
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = DARK_ELF
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object185]
Name = LAIR_DARK_PRIEST
Genre = LAIR_TOTEM
AnimationID = DARK_PRIEST_LAIR
AnimationSpeed = 256
Size_XY = 100
Size_YZ = 100
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = DARK_PRIEST
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object186]
Name = FIRE_GLOBE
Genre = FURNITURE
AnimationID = FIRE_GLOBE
AnimationSpeed = 200
Size_XY = 100
Size_YZ = 100
MaximumSize = 125
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 30000
FallAcceleration = 0
LightUnaffected = 1
MapIcon = 512
LightIntensity = 40
LightRadius = 30
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE HEART
UpdateFunction = UPDATE_DUNGEON_HEART

[object187]
Name = EGG_HEART
Genre = FURNITURE
AnimationID = EGG_HEART_STAND
AnimationSpeed = 200
Size_XY = 100
Size_YZ = 100
MaximumSize = 340
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 30000
FallAcceleration = 0
LightUnaffected = 1
MapIcon = 512
LightIntensity = 40
LightRadius = 30
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE HEART BEATING
UpdateFunction = UPDATE_DUNGEON_HEART

[object188]
Name = FEAR_TRAP
Genre = DECORATION
AnimationID = FEAR_TRAP
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 220
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object189]
Name = SKULL
Genre = DECORATION
AnimationID = SKULL
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 40
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object190]
Name = RACK1
Genre = DECORATION
AnimationID = RACK1_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 330
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object191]
Name = RACK2
Genre = DECORATION
AnimationID = RACK2_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 330
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object192]
Name = RACK3
Genre = DECORATION
AnimationID = RACK3_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 330
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object193]
Name = CANDELABRA
Genre = DECORATION
AnimationID = CANDELABRA_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 20
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object194]
Name = GALLOW
Genre = DECORATION
AnimationID = GALLOW_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object195]
Name = RACK4
Genre = DECORATION
AnimationID = RACK4_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 330
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object196]
Name = LAIR_PHALANX
Genre = LAIR_TOTEM
AnimationID = PHALANX_LAIR
AnimationSpeed = 256
Size_XY = 250
Size_YZ = 250
MaximumSize = 150
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = PHALANX
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object197]
Name = WRKBOX_BALISTA
Genre = WORKSHOPBOX
AnimationID = 114
AnimationSpeed = 256
Size_XY = 0
Size_Z = 0
MaximumSize = 300
DestroyOnLava = 1
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
MapIcon = 531
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 1
Immobile = 1
Properties = CHOWNED_ON_ROOM_CLAIM

[object198]
Name = LAIR_DRK_NGL
Genre = LAIR_TOTEM
AnimationID = LAIR_DRK_NGL
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 100
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = ANGEL
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object199]
Name = MONUMENT
Genre = DECORATION
AnimationID = MONU
AnimationSpeed = 200
Size_XY = 0
Size_YZ = 0
MaximumSize = 375
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 10
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object200]
Name = LAIR_FIREFLY
Genre = LAIR_TOTEM
AnimationID = LAIR_FIREFLY
AnimationSpeed = 256
Size_XY = 0
Size_Z = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = FIREFLY
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Immobile = 0
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object201]
Name = ABETE01_TREE
Genre = DECORATION
AnimationID = ABETE_SPRITES
AnimationSpeed = 250
Size_XY = 0
Size_YZ = 0
MaximumSize = 200
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 200
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 50
LightRadius = 6
LightIsDynamic = 1
Properties = CHOWNED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE

[object202]
Name = LAIR_TOADWARRIOR
Genre = LAIR_TOTEM
AnimationID = toadlair
AnimationSpeed = 256
Size_XY = 0
Size_Z = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = TOADWARRIOR
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
RandomStartFrame = 0
DrawClass = 2
Persistence = 2
Immobile = 0
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object203]
Name = DARK_KNIGHT_STATUE
Genre = DECORATION
AnimationID = DARK_KNIGHT_STAND
AnimationSpeed = 200
Size_XY = 0
Size_YZ = 0
MaximumSize = 450
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 10
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE DESTROYED_ON_ROOM_CLAIM

[object204]
Name = WIZARD_STATUE_PRAY
Genre = DECORATION
AnimationID = 428
AnimationSpeed = 100
Size_XY = 0
Size_YZ = 0
MaximumSize = 450
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 10
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE DESTROYED_ON_ROOM_CLAIM

[object205]
Name = GUARD_CORPSE
Genre = DECORATION
AnimationID = 946
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 450
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 10
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE DESTROYED_ON_ROOM_CLAIM

[object206]
Name = TIME_MAGE_STATUE
Genre = DECORATION
AnimationID = TMAGE_ATTACK
AnimationSpeed = 100
Size_XY = 0
Size_YZ = 0
MaximumSize = 450
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 10
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE DESTROYED_ON_ROOM_CLAIM

[object207]
Name = DEAD_GUARD_STATUE
Genre = DECORATION
AnimationID = DEADKNIGHT_STAND
AnimationSpeed = 100
Size_XY = 0
Size_YZ = 0
MaximumSize = 550
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 10
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE DESTROYED_ON_ROOM_CLAIM

[object208]
Name = FLAG
Genre = DECORATION
AnimationID = FLAG_STAND
AnimationSpeed = 100
Size_XY = 0
Size_YZ = 0
MaximumSize = 475
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 10
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE DESTROYED_ON_ROOM_CLAIM

[object209]
Name = HEROKNIGHT_STATUE
Genre = DECORATION
AnimationID = 228
AnimationSpeed = 100
Size_XY = 0
Size_YZ = 0
MaximumSize = 550
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 40
LightRadius = 10
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE DESTROYED_ON_ROOM_CLAIM