; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = TAURUS
NameTextID = 92
Health = 900
HealRequirement = 150
HealThreshold = 200
Strength = 80
Armour = 60
Dexterity = 100
FearWounded = 12
FearStronger = 2000
FearsomeFactor = 100
Defence = 120
Luck = 12
Recovery = 7
HungerRate = 7000
HungerFill = 1
LairSize = 2
HurtByLava = 2
BaseSpeed = 40
GoldHold = 1000
; Creature image size - XY and YZ
Size = 200 350
AttackPreference = MELEE
Pay = 100
HeroVsKeeperCost = 0
SlapsToKill = 40
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
LairObject = LAIR_TAURUS
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = LAIR NULL NULL
RoomSlabsRequired = 25 0 0
BaseEntranceScore = 10
ScavengeRequirement = 22000
TortureTime = 2000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 100
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 20
InTorture = 4
InTemple = -50
Sleeping = -3
GotWage = -750
WinBattle = -400
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy =
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 400
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 15

[appearance]
WalkingAnimSpeed = 85
FootstepPitch = 100
VisualRange = 18
PossessSwipeIndex = 2
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 250
CorpseVanishEffect = 0
PickUpOffset = -8 99 0 0
StatusOffset = 350

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD TAURUS_AXE NULL NULL NULL NULL ARMOUR NULL NULL NULL
PowersLevelRequired = 1 2 0 0 0 0 7 0 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 25

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = MANUFACTURE
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 35
ScavengeValue = 2
ScavengerCost = 40
ResearchValue = 0
ManufactureValue = 3
PartnerTraining = 20

[sprites]
Stand = CHARGERTAURUS_STAND
Ambulate = CHARGERTAURUS_AMBULATE
Drag = CHARGERTAURUS_AMBULATE
Attack = CHARGERTAURUS_ATTACK
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = CHARGERTAURUS_GOTHIT
PowerGrab = CHARGERTAURUS_POWERGRAB
GotSlapped = CHARGERTAURUS_GOTSLAPPED
Celebrate = CHARGERTAURUS_CELEBRATE
Sleep = CHARGERTAURUS_SLEEP
EatChicken = CHARGERTAURUS_EATCHICKEN
Torture = 48
Scream = CHARGERTAURUS_SCREAM
DropDead = CHARGERTAURUS_DROPDEAD
DeadSplat = 946
GFX18 = 20
QuerySymbol = CHARGERTAURUS_PORTRAIT
HandSymbol = CHARGERTAURUS_ICON
GFX21 = 20
[sounds]
Foot = 1 4
Hit = 337 3
Happy = 335 1
Sad = 336 1
Hurt = 337 3
Die = 340 2
Hang = 342 1
Drop = 343 1
Torture = 344 3
Slap = 347 1
Fight = 332 3
