; KeeperFX Creatures Configuration file
; file version 0.29

[common]
; Creatures used - note that the order is important
Creatures = WIZARD BARBARIAN ARCHER MONK DWARFA KNIGHT AVATAR TUNNELLER WITCH GIANT FAIRY THIEF SAMURAI HORNY SKELETON TROLL DRAGON DEMONSPAWN FLY DARK_MISTRESS SORCEROR BILE_DEMON IMP BUG VAMPIRE SPIDER HELL_HOUND GHOST TENTACLE ORC FLOATING_SPIRIT TIME_MAGE DRUID FLYING_TERROR DARK_ELF DARK_KNIGHT DARK_PRIEST TAURUS BLONDE DARK_FAIRY UNDEAD_BEAST ROACH ZOMBIE GARGOYLE GUARD PHALANX ELF ANGEL SKELETON_ARCH SKELE SKELEMAGE NEW_SKELETON
InstancesCount = 59

[instance55]
Name = TAURUS_AXE
Time = 20
ActionTime = 6
ResetTime = 200
FPTime = 4
FPActionTime = 2
FPResetTime = 150
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 174
SymbolSprites = TAURUS_AXE_ICONS
Graphics = ATTACK
RangeMin = 180
RangeMax = MAX
PrimaryTarget = 3
Properties = QUICK RANGED_ATTACK
Function = creature_fire_shot TAURUS_AXE 0

[instance56]
Name = SPIT
Time = 6
ActionTime = 4
ResetTime = 70
FPTime = 4
FPActionTime = 2
FPResetTime = 50
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 251
SymbolSprites = SPIT_ICONS
Graphics = ATTACK
RangeMin = 156
RangeMax = MAX
PrimaryTarget = 3
Properties = DESTRUCTIVE QUICK RANGED_ATTACK
Function = creature_fire_shot SHOT_SPIT 0

[instance57]
Name = MOV_SKELE
Time = 20
ActionTime = 8
ResetTime = 100
FPTime = 30
FPActionTime = 6
FPResetTime = 70
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 93
SymbolSprites = MOV_SKELE_ICONS
Graphics = ATTACK
RangeMin = 180
RangeMax = MAX
PrimaryTarget = 3
Properties = RANGED_ATTACK
Function = creature_fire_shot MOV_SKELE 0

[instance58]
Name = POISON_ARROW
Time = 10
ActionTime = 5
ResetTime = 32
FPTime = 5
FPActionTime = 2
FPResetTime = 8
FPInstantCast = 0
ForceVisibility = 100
TooltipTextID = 226
SymbolSprites = POISON_ARROW_ICONS
Graphics = SKELETON_ARCH_DIG
RangeMin = 156
RangeMax = MAX
PrimaryTarget = 3
Properties = DESTRUCTIVE QUICK RANGED_ATTACK
Function = creature_fire_shot SHOT_POISON_ARROW 0
