; KeeperFX Objects Configuration file
; file version 1.0

[common]


[object175]
Name = LAIR_FLYING_TERROR
Genre = LAIR_TOTEM
AnimationID = FLYING_TERROR_LAIR
AnimationSpeed =0
Size_XY = 0
Size_YZ = 0
MaximumSize = 100
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = FLYING_TERROR
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object176]
Name = DARK_ELF_LAIR
Genre = LAIR_TOTEM
AnimationID = DARK_ELF_LAIR
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 50
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = DARK_ELF
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object177]
Name = BLONDE_LAIR
Genre = LAIR_TOTEM
AnimationID = BLONDE_LAIR
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 180
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = BLONDE
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object178]
Name = LAIR_DKFAIRY
Genre = LAIR_TOTEM
AnimationID = MUSHROOM_RED_LUM
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = DARK_FAIRY
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object179]
Name = LAIR_DRK_KNGHT
Genre = LAIR_TOTEM
AnimationID = LAIR_DRK_KNGHT
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = DARK_KNIGHT
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object180]
Name = LAIR_ROACH
Genre = LAIR_TOTEM
AnimationID = ROACH_LAIR_TOTEM
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = ROACH
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object181]
Name = LAIR_UDBEAST
Genre = LAIR_TOTEM
AnimationID = FERN
AnimationSpeed = 0
Size_XY = 256
Size_YZ = 256
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = UNDEAD_BEAST
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object182]
Name = LAIR_ZOMBIE
Genre = LAIR_TOTEM
AnimationID = 851
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = ZOMBIE
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object183]
Name = LAIR_TAURUS
Genre = LAIR_TOTEM
AnimationID = CHARGERTAURUS_LAIR
AnimationSpeed = 256
Size_XY = 50
Size_YZ = 50
MaximumSize = 2
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = TAURUS
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object184]
Name = LAIR_DRK_NGL
Genre = LAIR_TOTEM
AnimationID = LAIR_DRK_NGL
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = ANGEL
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object185]
Name = DARK_ELF_LAIR
Genre = LAIR_TOTEM
AnimationID = DARK_ELF_LAIR
AnimationSpeed = 256
Size_XY = 0
Size_YZ = 0
MaximumSize = 50
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = DARK_ELF
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object186] 
Name = FIRE_GLOBE 
Genre = DECORATION 
AnimationID = FIRE_GLOBE 
AnimationSpeed = 250 
Size_XY = 0 
Size_YZ = 0 
MaximumSize = 200 
DestroyOnLava = 0 
DestroyOnLiquid = 0 
Health = 200 
FallAcceleration = 0 
LightUnaffected = 0 
LightIntensity = 50 
LightRadius = 3 
LightIsDynamic = 1 
Properties = CHOWNED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE 

[object187]
Name = OCCHIO
Genre = FURNITURE
AnimationID = OCCHIO
AnimationSpeed = 100
Size_XY = 100
Size_YZ = 100
MaximumSize = 230
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 30000
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 50
LightRadius = 30
LightIsDynamic = 1
Properties = DESTROYED_ON_ROOM_PLACE HEART
UpdateFunction = UPDATE_DUNGEON_HEART

[object188]
Name = RACK1
Genre = DECORATION
AnimationID = RACK1_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 330
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object189]
Name = RACK2
Genre = DECORATION
AnimationID = RACK2_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 330
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object190]
Name = RACK3
Genre = DECORATION
AnimationID = RACK3_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 330
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object191]
Name = RACK4
Genre = DECORATION
AnimationID = RACK4_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 330
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object192]
Name = GALLOW
Genre = DECORATION
AnimationID = GALLOW_STAND
AnimationSpeed = 0
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object193]
Name = LAIR_DARK_PRIEST
Genre = LAIR_TOTEM
AnimationID = DARK_PRIEST_LAIR
AnimationSpeed = 256
Size_XY = 100
Size_YZ = 100
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = TAURUS
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object194]
Name = WARBANNER_ANIM
Genre = DECORATION
AnimationID = WARBANNER_STAND
AnimationSpeed = 400
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object195]
Name = WARBANNER_HORNY
Genre = DECORATION
AnimationID = WARBANNERHORNY_STAND
AnimationSpeed = 400
Size_XY = 0
Size_YZ = 0
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
Properties = DESTROYED_ON_ROOM_PLACE

[object196]
Name = LAIR_PHALANX
Genre = LAIR_TOTEM
AnimationID = PHALANX_LAIR
AnimationSpeed = 256
Size_XY = 100
Size_YZ = 100
MaximumSize = 300
DestroyOnLava = 0
DestroyOnLiquid = 0
RelatedCreature = PHALANX
Health = 0
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 2
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE
UpdateFunction = UPDATE_OBJECT_SCALE

[object197] 
Name = LAIR_SHE_ORC 
Genre = LAIR_TOTEM 
AnimationID = LAIR_SHE_ORC 
AnimationSpeed = 256 
Size_XY = 0 
Size_YZ = 0 
MaximumSize = 300 
DestroyOnLava = 0 
DestroyOnLiquid = 0 
RelatedCreature = SHE_ORC 
Health = 0 
FallAcceleration = 0 
LightUnaffected = 0 
LightIntensity = 0 
LightRadius = 0 
LightIsDynamic = 0 
DrawClass = 2 
Persistence = 2 
Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE 
UpdateFunction = UPDATE_OBJECT_SCALE 

[object198]
Name = WRKBOX_BALISTA
Genre = WORKSHOPBOX
AnimationID = 114
AnimationSpeed = 256
Size_XY = 0
Size_Z = 0
MaximumSize = 300
DestroyOnLava = 1
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
MapIcon = 531
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
DrawClass = 2
Persistence = 1
Immobile = 1
Properties = CHOWNED_ON_ROOM_CLAIM

[object199]
Name = FIRE_CAMP
Genre = DECORATION
AnimationID = FIRE_CAMP
AnimationSpeed = 250
Size_XY = 0
Size_YZ = 0
MaximumSize = 200
DestroyOnLava = 0
DestroyOnLiquid = 0
Health = 200
FallAcceleration = 0
LightUnaffected = 0
LightIntensity = 50
LightRadius = 6
LightIsDynamic = 1
Properties = CHOWNED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE

[object200]
Name = MINI_SOUL_CONTAINER
Genre = FURNITURE
AnimationID = 948
AnimationSpeed = 256
Size_XY = 12
Size_Z = 12
MaximumSize = 25
DestroyOnLava = 1
DestroyOnLiquid = 0
Health = 3
FallAcceleration = 20
LightUnaffected = 0
MapIcon = 512
LightIntensity = 36
LightRadius = 14
LightIsDynamic = 1
RandomStartFrame = 0
DrawClass = 2
Persistence = 0
Immobile = 1
Properties = EXISTS_ONLY_IN_ROOM BEATING HEART
UpdateFunction = UPDATE_DUNGEON_HEART

[object201]
Name = WRKBOX_HEARTRAP
Genre = WORKSHOPBOX
AnimationID = 114
AnimationSpeed = 256
Size_XY = 0
Size_Z = 0
MaximumSize = 300
DestroyOnLava = 1
DestroyOnLiquid = 0
Health = 0
FallAcceleration = 0
MapIcon = 531
LightUnaffected = 0
LightIntensity = 0
LightRadius = 0
LightIsDynamic = 0
RandomStartFrame = 1
DrawClass = 2
Persistence = 1
Immobile = 0
Properties = CHOWNED_ON_ROOM_CLAIM